:root {
  --hue: 200;
  --saturation: 75%;
  --contrast-color: hsl(var(--hue), var(--saturation), 90%);
  --bg-color: hsl(var(--hue), var(--saturation), 25%);
  --font-size: 2rem;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--bg-color);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

#quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  min-width: 350px;
  color: #fff;
  padding: 2rem;
  background-color: var(--contrast-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#text {
  font-size: var(--font-size);
}

#text::before {
  content: "\201F   ";
  font-size: calc(var(--font-size) * 1.4);
}

#text::after {
  content: "   \201D";
  font-size: calc(var(--font-size) * 1.4);
}

#author {
  font-size: calc(var(--font-size) * 0.5);
  margin-top: 0.5em;
  text-align: right;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.btn {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--contrast-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: calc(var(--font-size) * 0.6);
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.quote__btn {
  background-color: var(--bg-color);
  color: var(--contrast-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: calc(var(--font-size) * 0.6);
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--contrast-color);
  color: var(--bg-color);
}

.anim {
  animation: anim 500ms ease-in-out;
}

.reverse-anim {
  animation: reverse-anim 500ms ease-in-out;
}

@keyframes anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg) scale(0);
  }
}

@keyframes reverse-anim {
  from {
    transform: rotate(360deg) scale(0);
  }
  to {
    transform: rotate(0deg) scale(1);
  }
}

.cr {
  position: absolute;
  bottom: 0;
  color: #fff;
}
